GEMINI_API_KEY=

# Optional Supabase-backed resume loading, it is preferred to code the resume in backend
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_STORAGE_BUCKET=SophiaCareer
SUPABASE_FILE_PATH=resume.md

# Vercel Serverless Function contact notifications via Pushover
PUSHOVER_USER_KEY=
PUSHOVER_API_TOKEN=
